<div class="text-center">
  <div class="event-container">
    <ul class="event-list">
      <li *ngFor="let event of events; let i = index;">
        <div *ngIf="i == 0" class="col-xs-4 event-image" style="background-image: url('../../assets/images/running.jpg')">
          <!-- <div class="overlay"></div> -->
        </div>
        <div *ngIf="i == 1" class="col-xs-4 event-image" style="background-image: url('../../assets/images/swimming.jpg')">
          <!-- <div class="overlay"></div> -->
        </div>
        <div *ngIf="i == 2" class="col-xs-4 event-image" style="background-image: url('../../assets/images/biking.jpg')">
          <!-- <div class="overlay"></div> -->
        </div>
        <div class="col-xs-8">
          <h1>{{event.name}}</h1>
          <p>{{event.start_date}}</p>
        
          <button class="btn details" (click)="goToNotFinished()">See Details -></button>
        </div>
      </li>
    </ul>
  </div>
</div>