<div class="text-center">
  <div class="event-container">
    <ul class="event-list">
      <li>
        <div class="col-xs-4 event-image" style="background-image: url('../../assets/images/running.jpg')">
          <!-- <div class="overlay"></div> -->
        </div>
        <div class="col-xs-8">
          <p>Name</p>
          <p>Description</p>
          <p>Dates</p>
          <p>Admission Fee</p>
          <p>Pool Amount</p>
          <p>Num of Participants</p>
        </div>
      </li>
    </ul>
  </div>
</div>