<div class="main-container">
  <nav>
    <div class="wrapper-menu" (click)="toggleSidenavOpen()" [ngClass]="{'open': sidenavOpen == true, '': sidenavOpen == false}">
      <div class="line-menu half start"></div>
      <div class="line-menu"></div>
      <div class="line-menu half end"></div>
    </div>
    <!-- <a>
        <i *ngIf="!sidenavOpen" class="fa fa-user-circle menu-icon" (click)="sidenav.toggle(); toggleSidenav()"></i>
    </a> -->
  </nav>

  <div class="text-center home-page">
    <h1 class="title">CryptoFit</h1>
    <br><br>
    <h3>Get Fit and earch Ether in pool contribution challenges.</h3>
    <h3>Throw some Ether into the pool and compete! Top Winners Split the pool.</h3>
    <br><br><br> 
    <button class="get-started-button" routerLink="/events">
      See Events
    </button>
    <a class="get-started-button" href="https://www.fitbit.com/oauth2/authorize?response_type=token&client_id=22CSCG&redirect_uri=http%3A%2F%2Flocalhost%3A4200&scope=activity%20heartrate%20location%20profile%20settings%20social%20weight&expires_in=604800">
      Login
    </a>
    
  </div>
</div>